recursive-include netbox_static_routes/templates *
recursive-include netbox_static_routes/scripts *
recursive-include netbox_static_routes/static *
recursive-include netbox_static_routes/api *
include README.md
include LICENSE
include NOTICE